
.about__description,
.about__contact {
  line-height: 1.5;
}
.about__name {
  font-size: 1.8rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
@media screen and (max-width:1200px) {
  .about__name{
    font-size: 1.6rem;
  }
}
.about-details__title{
  font-size: 1.4rem;
  font-weight: 500;
 color: var(--secondary-color);
}