.header{
    height: 10%;
}
.titel::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
    text-transform: uppercase;
}
.titel{
    font-weight: 800;
    /* padding-top: 20px; */
    letter-spacing: 2px;
    
    
}
.header-bottom-border{
    border-bottom: 1px solid;
}
.header-no-border{
    border: none;
}
