.home-content {
  align-items: center;
  height: 100%;
  margin: 0;
  justify-content:center;
}
.col-intro {
  border-radius: 5px;
  margin-left: 1rem;
}
.col-nav{
  width:100px;
}

.content {
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 5px;
  animation: box-content-show 1000ms linear;
 
}

@keyframes box-content-show {
  0% {
    margin-left: -50%;
    z-index: -1;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  99% {
    z-index: -1;
    opacity: 1;
  }

  100% {
    z-index: 1;
  }

}

/* xlg */

@media screen and (min-width: 1400px) {
  .content {
    height: 500px;
  }
}

/* Tablett -md*/
@media screen and (min-width: 768px) and (max-width:991px) {
  .home-content {
    align-items: start;
    justify-content: space-between;
  }
  .show-all-content{
    margin-left: 25%;
  }
  .content {
    height: max-content;
    border-radius: 5px;
    margin-top: 10px;
    animation: none;
   
  }
  .col-intro{
    margin-left: 25%;
  }
  .col-nav{
    margin-left: 5%;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .home-content {
    justify-content: center;
    align-items: center;
   
  }
  .show-all-content{
      padding: 0!important;
  }
 .col-content{
  max-width: 90%;
 }
  .content {
    height: max-content;
    animation: none;
    border-radius: 5px;
    margin-top: 10px;
  }
 
 .col-intro{
  position: relative;
  margin-top: 60px;
  max-width: 90%;
  margin-left: 0;
  
 }
 .col-nav{
  position: relative;
  width: 100%;
  z-index: 3000;
  margin-left: 0;
 }
}