
.nav a {
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
    width: 100%;
    font-size: 20px;
}
.menu-bar a span {
    font-size: 12px;
    text-transform: uppercase;
}
.menu-bar a:hover:not(.active) span{
    color: orange;
}
.tool-bar a:hover:not(.active) span{
    color: orange;
}
.menu-bar a:hover:not(.active) svg{
    color: orange;
}
.tool-bar a:hover:not(.active) svg{
    color: orange;
}
.nav .not-active:hover{
    cursor: pointer;
}
.nav .active:hover{
    cursor: default;
}
.tool-bar a{
    font-size: 20px;
}

