.navBar {
    position: relative;
}
.rounded-bottom {
    border-bottom-right-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
}
.rounded-top {
    border-top-left-radius: var(--bs-border-radius)!important;
    border-top-right-radius: var(--bs-border-radius)!important;
}
.nav a {
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
    width: 100%;
    font-size: 20px;
}

.menu-bar a span {
    font-size: 12px;
    text-transform: uppercase;
}

.menu-bar a:hover:not(.active) span {
    color: orange;
}

.tool-bar a:hover:not(.active) span {
    color: orange;
}

.menu-bar a:hover:not(.active) svg {
    color: orange;
}

.tool-bar a:hover:not(.active) svg {
    color: orange;
}

.nav .not-active:hover {
    cursor: pointer;
}

.nav .active:hover {
    cursor: default;
}

.tool-bar a {
    font-size: 20px;
}

@media screen and (min-width:768px) {
    nav {
        flex-direction: column;
    }
}

/* Tablett */
@media screen and (min-width:768px) and (max-width:991px) {
    nav {
        flex-direction: column;
    }

    .navBar {
        position: fixed;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .navBar {
        position: fixed;
        width: 100%;
        top: 0;
      
    
    }
    .rounded-bottom {
        border-bottom-right-radius: 0!important;
        border-bottom-left-radius: 0!important;
    }
    .rounded-top {
        border-top-left-radius:0!important;
        border-top-right-radius: 0!important;
    }
    .mt-2 {
        margin: 0!important;
        padding: 0!important;
    }
    .nav a {
        margin:10px 0 ;
    }
    .tool-bar a {
        width: 50%;
    }

    .menu-bar a {
        width: 20%;
    }

    .menu-bar span {
        display: none;
    }
}