
.project__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.project-wrapper {
  display: flex;
}

.project__img {
  width: 15rem;
  border: .2rem solid var(--secondary-color);
  border-radius: 3rem;
  margin-right: 2rem;
  transition: transform 0.3s ease-in;
}

.project__content {
  line-height: 2rem;
}

.project__img:hover {
  transform: scale(.9, .9);
  cursor: pointer;
}
@media screen and (max-width:478px) {
  .project-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}